extend ./layouts/_base.pug

block data
    - var title   = "About Holy Bible Proverbs"
    - var desc  = "About Website for reading Proverbs daily"
    - var htitle = "Bible Reading Website"
    - var hsub = "A website hosted for daily bible reading through online"

block content
    include ./includes/_herobanner.pug
    //- h1 A website hosted for daily bible reading through online
    .mh-100v
        h1.mt3 Online Aid
        p.pl3.pt3 As we mostly interact with online, it is good to have many websites providing good materials to read, especially daily proverbs.