footer.p2
    .row
        .colsm3
            p started designing in 20 oct 2018
        .colsm3
            p site is in prematured stage
        .colsm3
            p if you has something to say
                a.pl1(href="mailto: gamescharlie79@gmail.com")  gamescharlie79@gmail.com
    p have a nice day